[ENDERECO_STRING]
Copyright (c) 1991, 2018 Vilmar Catafesta
Av Castelo Branco, 693 * bairro Pioneiros * (69)3451-3085/98110-1393 * Pimenta Bueno/RO
email * vcatafesta@sybernet.com.br/vcatafesta@gmail.com   
http://www.sybernet.com.br - Todos Direitos Reservados

[ENDERECO_CODIGO]
cI3ç,Û¿¬™òã€IÆiêêP~âÔ`ÁÌÖžZÊ}.Ú¦¤\ìQh
sÙÈãüC×ná²éZC<»Z0ÎºÍèQÍvÞrãR•.Bæ|}™<ä‰úD‚·!Áé¯|ÿû-/b0?KldËŒ:SPè©˜ï\U5ñF/ ~Î%ËL\
SÁ³f±ÿ¾ƒ»YÂ{d;€i2ä¸DÂ“½NtJkº…_Ð<|½©|ÔùPnHL“3Ë=–À‰ÏíïÊH
;Ëiy¥›G¶!Ãa[d3PHh,€sÝôÔPrb—¸4-ùä\¹À>J·Õ»“‹¥nªUé.

[SCI_STRING]
 ÚÄÄÄÄÄ¿    ÚÄÄÄÄÄ¿  ÚÄ¿
 ßßßßßßÀ¿   ßßßßßßÀ¿ ßß³
ßßßßßßßß³  ßßßßßßßß³ ßß³
ßß³   ßßÙ  ßß³   ßßÙ ßß³
ßßÀÄÄÄÄ¿   ßß³       ßß³
ßßßßßßßÀ¿  ßß³       ßß³
 ßßßßßßß³  ßß³       ßß³
      ßß³  ßß³       ßß³
ßßÄÄÄÄßß³  ßßÀÄÄÄßß³ ßß³
ßßßßßßßßÙ  ßßßßßßßßÙ ßß³
 ßßßßßßÙ    ßßßßßßÙ  ßßÙ

[SCI_CODIGO]
~¾ìÞRAÅ™±üni†FÈ~u†Ìþ
~–4Š™ùô™±ü7¶±^Ý4†u®ž
†–4Š™”™¶7¶±^ÝÌæu©ž
†•SùuaÄ™¶4ÑN¡%Ï¶u©ž
†–ÌÞRAÅ™¶4ÑN¡"b0~u©ž
†–4Š™ùô™¶4ÑN¡"b0~u©ž
~–4Š™”™±4ÑN¡"b0~u©ž
yiËùua”™±4ÑN¡"b0~u©ž
†–ìÞRA”™¶7Ni†Ìæu©ž
†–4Š™Ä™¶7¶±^ÝÏ¶u©ž
~–4Š™5™±ü7¶±^Ýø~u®Î
